.footer {
    background-color: $navy-blue;
    padding: 60px 0;

    &__flex {
        display: inline-flex;
        justify-content: center;
    }

    &__address-list {
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        text-decoration: none;
        margin-top: 20px;
    }

    &__address-flex {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding-left: 0;
        gap: 9px;
    }

    &__address {
        color: $white-color;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        padding-top: 20px;
    }

    &__contact {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contact--underline {
        text-decoration: underline;
    }

    &__contact:hover,
    &__contact:focus {
        color: $primary-color;
    }

    &__newsletter {
        margin-left: 78px;
    }

    &__newsletter-title {
        color: $white-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
        margin-top: 11px;
    }

    &__newsletter-flex {
        display: flex;
    }

    &__newsletter-form {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: $black-rock;
        padding: 15px 16px;
        width: 358px;
        height: 50px;
        margin-right: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        outline: transparent;
        color: $white-color;
    }

    &__newsletter-btn {
        background-color: $primary-color;
        color: $white-color;
        width: 200px;
        height: 50px;
        padding: 10px 18px 10px 42px;
        border-radius: 4px;
        border: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;
        display: flex;
        gap: 24px;
        align-items: center;
    }

    &__icon {
        fill: $white-color;
    }

    &__join-us {
        margin-top: 12px;
        margin-left: 70px;
    }

    &__join-us-flex {
        list-style: none;
        display: inline-flex;
        justify-content: center;
        gap: 10px;
        padding-top: 20px;
    }

    &__join-us-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;

        &--color {
            color: $white-color;
        }
    }
    &__social-icons {
        fill: $white-color;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        cursor: pointer;
        padding: 12px;
        align-items: center;
        display: flex;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: $white-color;
            background-color: $primary-color;
        }
    }
}
