/*.join-us {
    margin-top: 12px;
    margin-left: 70px;

    &__flex {
        list-style: none;
        display: inline-flex;
        justify-content: center;
        gap: 10px;
        padding-top: 20px;
    }

    &title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.03em;

        &--color {
            color: $white-color;
        }
    }
}*/
