.our-atuts {
    &__flex {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        color: $dark-grey;
        letter-spacing: 0.03em;
        text-align: left;
    }
    &__text {
        font-size: 14px;
        line-height: 1.71;
        color: $light-grey;
        letter-spacing: 0.03em;
        padding-top: 10px;
    }
    &__icon {
        padding: 25px 100px;
        margin-bottom: 30px;
        background-color: $beige;
        border-radius: 4px;
    }
}
