$primary-color: #2196f3;
$black-color: #000;
$dark-grey: #212121;
$white-color: #fff;
$light-grey: #757575;
$navy-blue: #2f303a;
$black-rock: #2f303a;
$beige: #f5f4fa;
$background-dark-transparent: #2f303a66;
$icon-color: #afb1b8;
$border-color: #eeeeee;
